header{
    padding: 60px;
    text-align: center;
    background-image: url("../img/fondo_header.jpg") ;
    background-size: cover;
}

.unicorn{
    border-radius: 100%;
}

header div{
    background-color: rgba(213, 184, 20, 0.481));
    padding: 10px;
    border-radius:100%;
}